* {
  margin: 0;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}

#navbar {
  background-color: #e2e2e2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 20px;
}

#home {
  background-image: url("https://bit.ly/3deAVeI");
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 280px 50px 0 50px;
}

#home h1 {
  font-size: 60px;
}

#home p {
  font-size: 20px;
  margin-bottom: 20px;
}

#home a {
  padding: 10px;
  min-width: 15%;
  background-color: #3800a1;
  border: 2px solid black;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.container {
  padding: 50px;
}

#about {
  text-align: center;
  background-color: #af009b;
}

.about-header h1,
.services-header h1,
.contact-header h1 {
  font-size: 50px;
  color: white;
}

.about-caption {
  display: flex;
  align-items: center;
}

.about-caption img {
  border-radius: 100px;
  margin-right: 20px;
}

.about-caption h4 {
  font-size: 18px;
  color: white;
  letter-spacing: 2px;
}

#services {
  background-color: #3800a1;
  text-align: center;
}

.services-body {
  display: flex;
  margin-top: 50px;
}

.service-card {
  border: 2px solid black;
  margin-right: 10px;
  padding: 50px;
  background-color: #e2e2e2;
  transition: all 1s ease-in-out;
}

.service-card:hover {
  background-color: #af009b;
  color: white;
}

.service-card h2 {
  margin-bottom: 20px;
}

#contact {
  text-align: center;
  background-color: #af009b;
}

.contact-caption h2 {
  color: white;
  margin: 30px 0;
}

.input {
  width: 100%;
  margin-bottom: 8px;
  padding: 10px;
  border: 2px solid black;
}

.btn {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid black;
  transition: all 1s;
}

.btn:hover {
  background-color: #af009b;
  color: white;
}

footer {
  background-color: #e2e2e2;
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  #home {
    padding: 250px 10px 0 10px;
  }

  .container {
    padding: 30px;
  }

  .about-caption {
    display: block;
    margin-top: 50px;
  }

  .services-body {
    display: block;
  }

  .service-card {
    margin-bottom: 20px;
  }

  #navbar {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .services-body {
    display: block;
  }

  .service-card {
    margin-bottom: 20px;
  }
}
